<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"></meta>
    <title>アドミン画面</title>
</head>
<body>
<div th:fragment="admin_contents">
    <div class="page-header">
        <h1>新規申請一覧画面</h1>
    </div>
</div>
<div class="col-sm-10" th:text-align:center>
    <table border="1" class="col-sm-10">
        <tr>
            <th>アカウントの新規申請数 :<p th:text="${userStatus}"></p></th>
        </tr>
    </table>
</div>
<br>
<!-- ボタン実装 -->
<div class="container-fluid">
    <div class=”row”>
        <div class="text-center">
            <!-- 過去の勤務時間詳細・変更 -->
            <a class="btn btn-primary　w-auto col-sm" th:href="@{'/workTimeInsert'}">新規申請一覧</a>
        </div>
    </div>
</div>
</body>
</html>