<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"></meta>

    <!-- Bootstrapの設定 -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <link th:href="@{/css/home.css}" rel="stylesheet"></link>

    <title>Home</title>
</head>
<body>
<!-- ヘッダー -->
<div th:replace="login/header::header"></div>
<!-- 現在の日時表示 -->
<div style=text-align:center>
    <p th:text="${NowDate}"></p>
</div>
<br>
<!-- コンテンツ -->
<div class="company">
    <div class="col-sm-10 col-sm-offset-3">
        <span>現在契約中の会社 : </span>
        <span th:text="${OfficeName}"></span>
    </div>
</div>
<br>
<!-- ボタン実装 -->
<div class="container-fluid">
    <div class=”row”>
        <div class="text-center">
            <!-- 過去の勤務時間登録 -->
            <a class="btn btn-primary　w-auto col-sm" th:href="@{'/contract_list'}">過去の勤務時間詳細・変更</a>
        </div>
    </div>
</div>
</div>

</body>
</html>
    
