<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>

    <!-- Bootstrapの設定 -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <!-- cssの設定 -->
    <link th:href="@{/css/login.css}" rel="stylesheet"></link>

    <title>Login</title>
</head>
<body class="text-center">
<form name="login_form" method="post" action="/login">
    <div class="login_form_top">
        <h1>Login</h1>
        <!-- エラーメッセージ -->
        <p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
           th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
           class="text-danger">
            ログインエラーメッセージ
        </p>
    </div>
    <div class="login_form_btm">
        <!-- ユーザーID -->
        <input type="text" name="email" placeholder="email"/>
        <!-- パスワード -->
        <input type="password" name="password" placeholder="password"/>
        <!-- ログインボタン -->
        <input type="submit" name="botton" value="LOGIN">
        <!-- ユーザー登録画面へのリンク -->
        <a th:href="@{'/signup'}">ユーザー新規登録はこちら</a>
    </div>
</form>
</body>
</html>