<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"></meta>

    <!-- Bootstrapの設定 -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <link th:href="@{/css/home.css}" rel="stylesheet"></link>

    <title>ContractList</title>
</head>

<body>
<div th:replace="login/header::header"></div>
<div class="col-sm-8" th:text-align:center>
    <h3>月ごとの契約一覧</h3>
    <p th:text="${OfficeName}"></p>
</div>
<div class="col-sm-10" th:text-align:center>
    <table border="1" class="col-sm-10">
        <tr>
            <th>年月</th>
        </tr>
        <tr th:each="yearMonth : ${YearMonthList}">
            <td>
                <p th:text="${yearMonth.YearMonth}"></p>
            </td>
            <td><a th:href="@{'/monthDetails/'+ ${yearMonth.ContractId} + '/' + ${yearMonth.MonthId}}">
                <button type="button">詳細</button>
            </a></td>
        </tr>
    </table>
</div>
</body>
</html>
