<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"></meta>

    <!-- Bootstrapの設定 -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <link th:href="@{/css/home.css}" rel="stylesheet"></link>

    <title>newUser</title>
</head>

<body>
<div th:replace="login/header::header"></div>
<div class="col-sm-8" th:text-align:center>
    <h3>新規契約者一覧</h3>
</div>
<div class="col-sm-10" th:text-align:center>
    <table border="1" class="col-sm-10">
        <tr>
            <th>名前</th>
            <th>メールアドレス</th>
            <th>申請日時</th>
        </tr>
        <tr th:each="userStatusList : ${userStatusList}">
            <td>
                <p th:text="${userStatusList.UserName}"></p>
            </td>
            <td>
                <p th:text="${userStatusList.Email}"></p>
            </td>
            <td>
                <p th:text="${userStatusList.RequestedAt}"></p>
            </td>
            <td>
            <td><a th:href="@{'/newUserDetails/'+ ${userStatusList.userId}}">
                <button type="button">詳細</button>
            </a></td>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
