<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultaq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"></meta>

    <!-- Bootstrapの設定 -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
	<link th:href="@{/css/home.css}" rel="stylesheet"></link>
	
    <title>EmailChange</title>
</head>

<body>
<!-- ヘッダー -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/home">勤怠管理</a>
			</div>
			<div class="header-logo-menu">
				<div id="nav-drawer">
      				<input id="nav-input" type="checkbox" class="nav-unshown">
      				<label id="nav-open" for="nav-input"><span></span></label>
      				<label class="nav-unshown" id="nav-close" for="nav-input"></label>
      				<div id="nav-content">
      					<a th:href="@{'/email_change'}">メールアドレスの変更</a><br>
      					<a th:href="@{'/password_change'}">パスワードの変更</a><br>
      					<a th:href="@{'/contract_list'}">契約画面一覧</a><br>
      					<a th:href="@{'/whours_change'}">勤務時間変更</a><br>
      					<a th:href="@{'contract_update'}">契約更新</a><br>
      				</div>
  				</div>
  					<div class="logo-area">LOGO</div>
  			</div>
		</div>
	</nav>
	<div class="col-sm-8" th:text-align:center>
		<h3>パスワード変更画面</h3>
	</div>
	<form method="post" th:action="@{/password_change}" th:object="${signupForm}">
    	<table class="table table-bordered table-hover">
			<tr>
        	<!-- メールアドレスの入力エリア -->
            <th class="active col-sm-3">現在のパスワード入力</th>
            	<td>
                	<div class="form-group"
                		th:classappend="${#fields.hasErrors('password')} ? 'has-error'">
                    	<input type="text" class="form-control" th:field="*{password}" />
                        	<span class="text-danger" th:if="${#fields.hasErrors('password')}"
                            	th:errors="*{password}">password error
                            </span>
                    </div>
               </td>
            </tr>
            <tr>
               <th class="active col-sm-3">新しいパスワード入力</th>
            	<td>
                	<div class="form-group"
                		th:classappend="${#fields.hasErrors('password')} ? 'has-error'">
                    	<input type="text" class="form-control" th:field="*{password}" />
                        	<span class="text-danger" th:if="${#fields.hasErrors('password')}"
                            	th:errors="*{password}">password error
                            </span>
                    </div>
               </td>
            </tr>
            <tr>
               <th class="active col-sm-3">新しいパスワードの確認</th>
            	<td>
                	<div class="form-group"
                		th:classappend="${#fields.hasErrors('password')} ? 'has-error'">
                    	<input type="text" class="form-control" th:field="*{password}" />
                        	<span class="text-danger" th:if="${#fields.hasErrors('password')}"
                            	th:errors="*{password}">password error
                            </span>
                    </div>
               </td>
            </tr>
        </table>
        <!-- エラーメッセージの一覧表示 -->
            <ul>
                <li th:each="error : ${#fields.detailedErrors()}">
                    <span th:text="${error.message}">Error message</span>
                </li>
            </ul>
            <!-- ボタン -->
    <div class="text-center">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#demoNormalModal">
    変更する
</button>

<!-- モーダルダイアログ -->
<div class="modal fade" id="demoNormalModal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="demoModalTitle">変更確認</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                本当にパスワードを変更しますか？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary w-auto col-sm">はい</button>
                <button type="button" class="btn btn-primary w-auto col-sm" th:href="@{'/email_change'}">いいえ</button>
            </div>
        </div>
    </div>
</div>
</div>
	</form>
	
</body>
</html>