<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
>
<head>
    <meta charset="UTF-8"></meta>

    <!-- Bootstrapの設定 -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <link th:href="@{/css/home.css}" rel="stylesheet"></link>

    <title>WorkTimeInsert</title>
</head>
<div th:replace="login/header::header"></div>
<div class="col-sm-8" th:text-align:center>
    <h3>勤務時間登録</h3>
</div>
<body>
<div class="col-sm-8">
    <form method="post" th:action="@{/workTimeInsert}" th:object="${workTimeForm}">
        <table class="table table-bordered table-hover">
            <tr>
                <th class="active">勤務日</th>
                <td>
                    <div class="form-group">
                        <label for="date"></label>
                        <input type="date"
                               id="date" name="今日の日付" class="form-control" th:field="*{startDate}"/>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="active">始業時間</th>
                <td>
                    <div class="form-group">
                        <label for="time"></label>
                        <input type="time" id="time" value="" class="col-sm-8" th:field="*{startTime}"/>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="active">休憩時間</th>
                <td>
                    <div class="form-group">
                        <label for="time"></label>
                        <input type="time" id="time" value="" class="col-sm-8" th:field="*{breakTime}"/>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="active">終了時間</th>
                <td>
                    <div class="form-group">
                        <label for="time"></label>
                        <input type="time" id="time" value="" class="col-sm-8" th:field="*{endTime}"/>
                    </div>
                </td>
            </tr>
        </table>

        <!-- ボタン -->
        <button class="btn btn-primary" type="submit">保存</button>
    </form>
</div>
</body>
</html>